.input-select-container {
  @include util.base-input();

  padding: 0;
  padding-right: 2rem;
  position: relative;

  &::after {
    background-color: col.$primary;
    clip-path: polygon(0 10%, 19% 10%, 50% 67%, 82% 10%, 100% 10%, 50% 99%);
    content: '';
    height: 7px;
    margin-top: -4px;
    position: absolute;
    right: spacing(0.8);
    top: 50%;
    width: 13px;
    z-index: 2;
  }

  &.status-error {
    &::after {
      background-color: col.$error;
    }
  }
}

.input-select {
  @include type.input();
  @include util.focus-visible();
  @include util.statuses('focus');
  @include util.statuses('border');
  @include util.statuses('background-faded');

  appearance: none;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  height: 100%;
  line-height: 1.5;
  outline: none;
  padding: padding(0.5) padding(1);
  padding-right: 2rem;
  position: absolute;
  width: 100%;
  z-index: 1;

  &::-ms-expand {
    display: none;
  }
}

.multi-select-container select {
  @include util.base-input();

  min-height: 10rem;

  option {
    padding: padding(0.5) padding(1);
  }

  &::after {
    display: none;
  }
}
