.hero {
  background-color: col.$secondary;
  height: fit-content;
  margin-top: -(margin(10));
  padding: padding(2);
  padding-top: padding(10);
  position: relative;
  width: 100%;

  @include util.mq(bp.$medium-small) {
    padding: padding(10) padding(2) padding(10);
  }

  .content {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: spacing(6);
    margin: margin(1);
    position: relative;
    z-index: 10;
  }

  &.overlay {
    .image,
    .video {
      filter: opacity(0.3);
    }
  }

  .image,
  .video {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }

  .video {
    display: none;

    @include util.mq(bp.$medium-small) {
      display: block;
    }
  }
}
