.plain-text {
  margin: 0 auto;
  padding: padding(2);

  &.centered {
    align-items: center;
    text-align: center;
  }

  h2 {
    @include type.heading-small();

    font-weight: 900;
    margin-bottom: margin(2);
  }

  p {
    @include type.body-text();
  }
}
