@use '../colours' as col;

/**
 Shimmer animation with gradient
 Usage:
  @include animate.shimmer(<options>);
 Options:
  - color1: first color of the shimmer (default: col.$grey-200)
  - color2: second color of the shimmer (default: col.$grey-300)
  - duration: duration of the animation (default: 1.5s)
  - loop: number of times to loop the animation (default: infinite)
  - offset: percentage offset to stagger the effect (default: 50%)
*/
@mixin shimmer($color1: col.$grey-200, $color2: col.$grey-300, $duration: 2.5s, $loop: infinite, $offset: 50%) {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  animation: shimmer $duration $loop linear;
  background:
    linear-gradient(
      90deg,
      $color1 25%,
      $color2 $offset,
      $color1 75%
    );
  background-size: 200% 100%;
}
