.table-row {
  background-color: transparent;
  box-shadow: none !important;
  display: table-row;
  margin-bottom: 0;
  padding: 0;

  &.selectable {
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(col.$dark, 0.08);
    }
  }

  &.active {
    background: lighten(col.$action-focus-bg, 25%);
  }
}
